<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Admin section
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= link_to 'Deals', admin_deals_path %></br></br>
    <%= link_to 'Users', admin_users_path %></br></br>
    <%= link_to 'Orders', admin_orders_path %></br></br>
    <%= link_to 'Reports', admin_reports_path %></br></br>
  </div>
</div>
